.cardhome{
  width:1600px;
  height: 1400px;
  margin-top: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  
  position: relative;
  left: 50px;
  top: 820px;
}




